<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> Register with World Kite Organization </title>
 </head>
 <body>
 <div style="width:400px;">
<h1>Register with World Kite Organization</h1>
<p>If you have a google account, please <a href="{{url}}" target="new">login</a> with it now. We use Google services to protect user information like passwords. In this way, we do not have to store your sensitive data - rather it is managed by Google, a trusted source.</p>
<p>If you do not already have a Google account, it is easy to create one with any valid email address.
If you have been certified with World Kite by one of our affiliates, you should use the email you have provided to them when signing up for your Google account to ensure your certification is tied to your membership with us.</p>
  </div>
 </body>
</html>
