<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/LocalBusiness" >
<head>
 <title>World Kite Organization</title>
 <link rel="shortcut icon" href="../favicon.ico" />
 <link href="../css/global.css" rel="stylesheet" type="text/css" />
 <meta name="title" content="World Kite Organization" />
 <meta name="description" content="The World Kite Organization is a non-profit organization dedicated to the development and promotion of safe kiting worldwide. Learn to ride or teach with our programs offered through many schools worldwide and earn your certifcation that commands respect." />
 <link rel="image_src" href="http://worldkite.org/g/thumbnail.jpg" />

 <meta property="og:title" content="World Kite Organization" />
 <meta property="og:type" content="company" />
 <meta property="og:url" content="http://worldkite.org" />
 <meta property="og:image" content="http://worldkite.org/g/thumbnail.jpg" />
 <meta property="og:site_name" content="World Kite Organization" />
 
 <meta itemprop="name" content="World Kite Organization" />
 <meta itemprop="description" content="The World Kite Organization is a non-profit organization dedicated to the development and promotion of safe kiting worldwide. Learn to ride or teach with our programs offered through many schools worldwide and earn your certifcation that commands respect." />
 <meta itemprop="image" content="http://kitecolombia.com/g/thumbnail.jpg" />
 <style type="text/css" ></style>
<link rel="stylesheet" href="../css/nyroModal.css" type="text/css" media="screen" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery.nyroModal.custom.js"></script>
<!--[if IE 6]>
    <script type="text/javascript" src="../js/jquery.nyroModal-ie6.min.js"></script> <![endif]-->
<script type="text/javascript">
    $(function() {
        $('.nyroModal').nyroModal();
    });
</script>
<script type="text/javascript" id="main">
    function main() { $('#modal').nyroModal(); }
</script>
</head>
<body onload="main();">
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId: '15956709753', // App ID
            channelURL: 'fbchannel.html', // Channel File
            status: true, // check login status
            cookie: true, // enable cookies to allow the server to access the session
            oauth: true, // enable OAuth 2.0
            xfbml: true  // parse XFBML
        });

        // Additional initialization code here
    };

    // Load the SDK Asynchronously
    (function(d) {
        var js, id = 'facebook-jssdk'; if (d.getElementById(id)) { return; }
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        d.getElementsByTagName('head')[0].appendChild(js);
    } (document));
</script>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=15956709753";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
 <div id="page">
  <div id="header">
   <div class="login" style="position:absolute; left:912px; top:-4px; z-index:100; font-size:9pt; " >
 {% if member %}
<a" href="{{url}}" >Logout</a>
 {% endif %}  
 {% if register %}
<a id="modal" href="/register" >Register</a>
<a href="{{url}}">Logout</a>
 {% endif %}  
 {% if loginregister %}
<a href="{{url}}">Login</a>
<a id="modal" href="/register" >Register</a>
 {% endif %}  
 </div>
   <div class="fb-like" style="position:absolute; left:952px; top:18px; z-index:100; " data-href="htp://kitecolombia.com" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
   <div style="position:absolute; left:964px; top:43px; z-index:100; "><g:plusone size="medium"></g:plusone></div>
   <a id="logo" href="/"><img src="../g/logo.png" /></a>
   <h1 class="title">World Kite Organization</h1>

   
   <menu>
    <li><a href="learn_kite.html">Learn to Kite</a></li>
    <li><a href="become__a_kite_instructor.html">Become an Instructor</a></li>
    <li><a href="certify_school.html">Certify your School</a></li>
    <li><a href="about_us.html">About Us</a></li>
    <li><a href="contact.html">Contact Us</a></li>
   </menu>
  </div>
  <div id="content">

   <div class="article app">
     <fieldset>
      <legend>Register with World Kite Organization</legend>
      <form method="post" action="/register">
       <label>First Name</label><input type="text" name="fnam" />
       <label>Last Name</label><input type="text" name="lnam" />
       <input type="submit" value="Register" />
      </form>
     </fieldset>
     <br style="clear:both; line-height:0px;" />
   </div>


<br style="float:none; clear:both; line-height:0px;" />

  </div> 

  <div id="footer">
   <menu>
    <li><a href="learn_kite.html">Learn to Kite</a></li>
    <li><a href="become__a_kite_instructor.html">Become an Instructor</a></li>
    <li><a href="certify_school.html">Certify your School</a></li>
    <li><a href="about_us.html">About Us</a></li>
    <li><a href="contact.html">Contact Us</a></li>
   </menu>
   <div id="copyright">&copy Copyright 2011 WorldKite.org - All rights reserved.<br />
   <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a><br />Work materials and information to members is<br />
   licensed under <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons</a>
   </div> 
  </div>
 </div>

<!-- Place this render call where appropriate -->
<script type="text/javascript">
    (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>

</body>
</html>
 